
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  margin: 4% 17%;
  transition: all 0.3s ease;
  width: 70%;                   /* Set a specific width to make it less wide */
}

.textarea-container.focused {
  transform: scale(1.05);
}

.textarea-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.textarea-field {
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  height: 160px;                      /* Set a height for the textarea */
  resize: vertical; 
  box-sizing: border-box; 
}

.textarea-field:focus {
  border-color: #007bff;
}

.weButtonCustomerRating{
  float: center;
  margin-left: 4%;
  margin-top: -3%;
}
